.sliders {
    .carousel-inner {
        display: flex;
    }

    .carousel-item {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .carousel-inner .carousel-item.active:first-child {
        margin-left: 0;
    }

    .carousel-inner .carousel-item:last-child {
        margin-right: 0;
    }
}